@import url('reset.css');

/* Header */
.wrapper {
    background: lightcyan ;
}

.header {
    background: #242424;
    color: #fff;
    margin-bottom: 40px;
    text-align: center;
}

.header a {
    color: inherit;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;

}

/* _____________________________________________ */



.container {
    width: 1200px;
    margin: 0 auto;
}

.parent {

    font-size: 0;

}

.child {

    display: inline-block;
    width: 400px;
    height: 200px;
    vertical-align: top;
    overflow: hidden;
    outline: 1px solid #242424;
    font-size: 20px;
    background: yellow;
    

}

.child-2 {
    height: 100px;
    vertical-align: top;
    overflow: hidden;
    outline: 1px solid #242424;
    font-size: 20px;
    background: blue;
}


 .child > .child-second {
    display: inline-block;
    outline: 1px solid #242424;
    font-size: 20px;
    background: blue;
    height: 66px;
}

.child-3 {
    height: 100px;
    vertical-align: top;
    overflow: hidden;
    outline: 1px solid #242424;
    font-size: 20px;
    background: darkred;
}
.child-third {
    background: darkred;
    height: 200px;
    vertical-align: top;
    overflow: hidden;
}

.box-two > div + div {
    width: 800px;
}

.third-box > div {
    width: 800px;

}

.third-box > div + div {
    width: 400px;
}

/* 
.child > .child-third {

    height: 200px;
    vertical-align: top;
    overflow: hidden;
} */


/* 
.child {

    vertical-align: top;
    overflow: hidden;
    border: 2px solid #242424;
    width: 400px;
    height: 200px;
    font-size: 20px;
    background: yellow;
    padding: 20 px;
}

 .text-block {
    display: inline-block;
    height: 100px;
    border: 2px solid #242424;
    font-size: 16px;
    text-align: justify;
    background: blue;

}

.text-long {
    display: inline-block;
    height: 66px;
    width: 800px;
    border: 2px solid #242424;
    font-size: 16px;
    overflow: hidden;
    text-align: justify;
    background: blue;
}

.child-1 {
    display: inline-block;
} */