@import url('reset.css');


.wrapper {
    background: lightcyan ;
}

.header {
    background: #242424;
    color: #fff;
    padding: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.header a {
    color: inherit;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

.container {
    width: 1200px;
    margin: 0 auto;
    font-size: 0;
}

.child {
    display: inline-block;
    border: 2px solid #242424;
    width: 400px;
    height: 200px;
    font-size: 20px;
    background: yellow;
    padding: 20 px;
}
